
body {
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	background-color: #fff;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 { 
    margin: 0;
  }

p {
    margin: 0 0 10px;
    padding: 0;
}

/*HEADER =================================*/
.header {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #e9e9e9;
} 
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
}
.logop {
	margin-left: 100px;
}
.nav {
	margin-right: 100px;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}
.nav__link {
	margin-left: 30px;
	text-decoration: none;
	color: #000;
}
.nav__link: first-child {
	margin-left: 0;
}
.nav__link:hover {
    color: #10c9c3;
}

/*BANNER =====================================*/
.banner {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 670px;
	padding-top: 100px;
	background: #e9e9e9 url("Image/Header/Banner.png") center no-repeat;
	background-size: contain;
}
.banner__inner {
	width: 100%;
	margin: 80px 125px 0px 660px;
	text-align: left;
}
.banner__title {
	margin: 0 0 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	color: #000;
	font-weight: 400;
}
.banner__subtitle {
	margin-bottom: 45px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	color: #a2a2a2;
	font-weight: 400;
}

/*BUTTON =====================================*/
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 20px 60px;
	background-color: #10c9c3;
	cursor: pointer;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 700px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	transition: background .2s linear;
}
.btn--red:hover {
	background-color: #000;
}

/*ABOUT_US=================*/
.aboutus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 420px;
}
.about_inner {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.about_title {
	margin: 100px 0 40px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 500px;
}
.about_subtitle {
	margin-bottom: 40px;
	padding: 0 230px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	color: #a2a2a2;
	font-weight: 400;
}

/*SKILLS=================================*/
.skills {
	display: flex;
	flex-direction: wrap;
}
.skills_progress {
	width: 50%;
	height: 570px;
	padding: 160px 87px;
	background-color: #f8f9f9;
	font-family: 'Montserrat', sans-serif
}
.skills_title {
	font-size: 30px;
	margin-bottom: 37px;
	font-weight: 500;
}
.title_progress {
	font-size: 12px;
	font-weight: 700;
}
.progress {
	width: 500px;
	height: 4px;
	margin-bottom: 40px;
	border: none;
	background: #10c9c3;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.progress::-webkit-progress-bar {
background: #d8d8d8;
}
.progress::-webkit-progress-value {
background: #10c9c3;
}
.image_skills {
	width: 50%;
	overflow: hidden;
}


/*NUMBERS====================================*/
.numbers {
	background-color: #10c9c3; 
}
.numbers_items {
	display: flex;
	flex-wrap: wrap;
	margin-left: 100px;
}
.item {
	width: 25%;
	margin: 100px 0;
	color: #fff;
	display: flex;
	align-items: center;
}
.item_text {
	justify-content: center;
	margin-left: 30px;
	font-family: 'Montserrat', sans-serif;
}
.count {
	font-size: 18px;
}
.count_text {
	font-size: 12px;
}

/*WORKS ==========================*/
.works {
	display: flex;
	flex-wrap: wrap;
}
.works_items {
	width: 25%;
	height: 300px;
	position: relative;
	overflow: hidden;
}
.works_items:hover .look {
	opacity: 1;
}
.look {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0;
	width: 100%;
	height: 100%;
}
.image_work {
	min-width: 100%;
	min-height: 100%;
}
.look_image {
	position: absolute;
	top: 50%;
	left: 40%;
}
.works_load {
	width: 100%;
	background-color: #f5f5f5;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
}
.btn_load {
	text-decoration: none;
	color: #8e8e8e;
	padding: 48px 0;
}
.works_load:hover {
	background-color: #383838;
}
.container_works {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

/*WP_VIDEO ====================*/
.wp_video {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.wpv_text {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.wpv_title {
	margin: 100px 0 40px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 500px;
}
.wpv_subtitle {
	margin-bottom: 60px;
	padding: 0 420px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: #a2a2a2;
	font-weight: 400;
}
.wpv_video {
	display: flex;
	justify-content: center;
	position: relative;
}
.video {
	width: 700px;
	height: 570px;
}
.wpv_video_media {
	display: none;
}

#button {
justify-content: center;
position: absolute;
top: 40%;
left: 45%;
width: 80px;
height: 80px;
border-radius: 100%;
border-style: none;
background-color: #10c9c3;
font-size: 30px;
font-weight: 1000;
color: #fff;
z-index: 1;
outline: none;
opacity: 0;
}

/*SERVICES =======================*/
.services {
	background-color: #f5f5f5;
	width: 100%;
}
.service_items {
	display: flex;
	flex-wrap: wrap;
	background-color: #f5f5f5;
	margin-top: 100px;
}
.srv_item {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	padding: 60px 70px;
}
.srv_title {
	font-size: 16px;
	font-family: 'Nunito Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
}
.srv_subtitle {
	font-size: 16px;
	font-family: 'Nunito Sans', sans-serif;
	color: #8c8c8c;
	text-align: center;
	margin-top: 20px;
}
 .srv_image {
 	padding: 0 40%;
}

 /*TESTIMONIALS=================================================*/
.testimonials-slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #10c9c3;
	color: #fff;
}
.mySlides {
	display: none;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin: 50px 0 40px 0;
	font-family: 'Montserrat', sans-serif;
	padding: 60px 70px;
}
.q {
	text-align: center;
	font-size: 24px;
	margin-top: 10px;
	padding: 0 270px;

}
.author{
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 40px;
}
.dot-container {
    text-align: center;
    padding: 20px;
    background: #10c9c3;
    margin-top: 50px;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: 0.1s ease;

}
.active, .dot:hover {
 	height: 15px;
 	width: 15px;
 }

/*CLIENTS============================================*/

.clients {
	display: flex;
	flex-wrap: wrap;
	margin: 70px 0;
}
.client_logo {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	padding: 60px 70px;
}

/*NEED A PROJECT=====================*/
.nproject {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f5f5f5;
}
.project_text {
	margin-top: 100px;
	margin: 0 auto;
	text-align: center;
}
.title_project{
	margin: 100px 0 40px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 500px;
}
.subtitle_project {
	margin-bottom: 60px;
	padding: 0 420px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: #a2a2a2;
	font-weight: 400;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	width: 674px;
	outline: none;
	border: none;
}
.prjname {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0px;
}
.name_form {
	width: 320px;
	height: 50px;
	border: none;
	
}
.email_form {
	width: 320px;
	height: 50px;
	border: none;
}
.title_form {
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}
.title_sform {
	width: 100%;
	height: 50px;
	border: none;
}
.textarea_form {
	width: 100%;
	height: 170px;
	margin-bottom: 30px;
	border: none;
}
.btn-form {
	display: inline-block;
	vertical-align: top;
	margin: 20px auto;
	padding: 20px 60px;
	background-color: #10c9c3;
	cursor: pointer;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 700px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	transition: background .2s linear;
}
.btn-form:hover {
	background-color: #000;
}

/*FOOTER========================*/

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 100px;
}

.rights_footer {
	padding-left: 0px;
}
.name_rights_footer {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}
.all_rights_footer {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
}
.contacts {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
}
.link_footer {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #fff;
}
.l_link_footer {
	display: flex;
	flex-direction: column;
}
.r_link_footer {
	display: flex;
	flex-direction: column;
	padding-left: 50px;
}
.social_footer {
	display: flex;
	flex-direction: column;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #fff;
}

/*NAVIGATION_MENU ============================*/
.naviation {
	position: relative;
}
.navig_span {
display: none;
position: absolute;
top: 40px;
right: 300px;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight: 700;
}
.checkbox {
	display: none;
	position: absolute;
	top: 10px;
	right: 350px;
	width: 70px;
	height: 50px;
	cursor: pointer;
	opacity: 0;
}


/*MEDIA====================*/
@media (max-width: 991px)
 {
 	/*HEADER*/
 	.navig_span {
 		display: flex;
 	}
 	.checkbox {
 		display: flex;
 	}
 	.nav {
 		display: none;
 		z-index: 1000;
 		border: 1px solid #fff;
 		border-radius: 15px;
 		box-shadow: 0 0 10px rgba(0,0,0,0.5);
 		background-color: #e9e9e9;
 	}
 	.checkbox:checked ~ .nav {
 		display: flex;
 		flex-direction: column;
 		position: absolute;
 		margin: 0px;
 		top: 70px;
		right: 170px;
		padding: 20px;
		line-height: 2;
		font-size: 18px;
 		}
 	/*BANNER*/
 	.banner {
 		height: auto;
 	}
 	.banner__inner {
 		margin: 20px 150px;
 		text-align: center;
 	}
 	.banner__title {
 		margin: 20px 100px;
 	}
 	.banner__subtitle {
 		margin: 20px 100px;
 		font-size: 20px;
 		color:#000;
 	}
 	/*SKILLS*/
 	.skills {
 		flex-direction: column;
 		justify-content: center;
 	}
 	.skills_progress {
		width: 100%;
 		height: auto;
 	}
	.progress {
		width: 400px;
		margin-left: 100px;
	}
	.skills_title {
		font-size: 40px;
		margin-left: 100px;
	}
	.title_progress {
		font-size: 18px;
		margin-left: 100px;
	}
	.image_skills {
		width: 100%;
		background:#e9e9e9 url("Image/Skills/img683-570.png") center no-repeat;
		
		background-size: contain;
	}
	/*NUMBERS*/
	.item {
		width: 50%;
		margin: 50px 30%;
	}
	.count {
		font-size: 24px;
	}
	.count_text {
		font-size: 28px;
	}
	.works_items {
		width: 50%;
		height: auto;
	}
	/*VIDEO*/
	.wpv_subtitle {
		padding: 0 200px;
		font-size: 20px;
		color: #000;
	}
	.wpv_video {
		display: none;
	}
	.wpv_video_media {
		display: flex;
		justify-content: center;
		position: relative;
	}
	.video {
		width: auto;
		height: 400px;
	}
	.srv_item {
		width: 50%;
	}
	.srv_title {
		font-size: 24px;
	}
	.srv_subtitle {
		margin: 20px;
		font-size: 16px;
		color: #000;

	}
	/*TESTIMONIALS*/
	.q {
		padding: 0 100px;
		margin-top: 40px;
	}	
	/*CLIENTS*/
	.client_logo {
		width: 100%;
		height: 100%;
		margin: 30px 350px;
	}
	.subtitle_project {
		padding: 0 200px;
	}

}
@media (max-width: 768px) {
	/*CLIENTS*/
	.client_logo {
		width: 100%;
		height: 100%;
		margin: 30px 250px;
	}
	/*FOOTER*/
	.footer {
		flex-wrap: none;
		flex-direction: column;
		justify-content: none;
	}
	
	.name_rights_footer {
		text-align: center;
	}
	.all_rights_footer {
		text-align: center;
		padding-bottom: 20px;
	}
	.contacts {
		text-align: center;
		padding-bottom: 15px;
	}
	.link_footer {
		text-align: center;
	}
	.social_footer {
		text-align: center;
		padding-top: 10px;
	}
}
@media (max-width: 411px) {
	/*HEADER==========*/
	.header__inner {
		display: block;
	}
	.navig_span {
		top: 35%;
		left: 50%;
	}
	.checkbox {
		top: 35%;
		left: 50%;
	}
	.checkbox:checked ~ .nav {
 		display: flex;
 		flex-direction: column;
 		position: absolute;
 		margin: 0px;
 		top: 75%;
		right: 20%;
		padding: 20px;
		line-height: 2;
		font-size: 18px;
 	}
 	/*BANNER*/
 	.banner{ 
 		background: #e9e9e9;
 	 }
 	 /*ABOUTUS*/
 	 .aboutus {
 	 	height: auto;
 	 }
 	 .about_subtitle{
 	 	padding: 0 50px;
 	 	color: #000;
 	 }
 	 /*SKILLS*/
 	 .progress {
 	 	width: 200px;
 	 	margin-left: 5px;
 	 }
 	 .skills_title {
		font-size: 30px;
		margin-left: 5px;
	}
	.title_progress {
		font-size: 18px;
		margin-left: 5px;
	}
	.image_skills {
		max-width: 100%;
		background:#e9e9e9 url("Image/Skills/img683-570.png") center no-repeat;
		background-size: contain;
		overflow: scroll;
	}
	/*NUMBERS*/
	.item {
		width: 100%;
		margin: 20px 20px;
	}
	/*WORKS */
	.works_items {
		width: 100%;
	}
	/*VIDEO*/
	.wpv_subtitle {
		padding: 0 40px;
		margin: 0 10px;
		font-size: 18px;
	}
	.video {
		width: auto;
		height: 200px;
	}
	/*SERVICE=====*/

	.srv_item {
		width: 100%;
		padding: 20px 70px;
	}
	/*TESTIMONIALS*/
	.mySlides {
		height: auto;
		margin: 30px 0px;
		padding: 20px 0px;
	}
	.q {
		margin-top: 50px;
		font-size: 20px;
		padding: 0 50px;
	}
	.author {
		margin-top: 30px;
	}
	.dot-container {
    	text-align: center;
    	padding: 20px;
    	background: #10c9c3;
    	margin-top: 50px;
	}
	.dot {
  		cursor: pointer;
  		height: 15px;
  		width: 15px;
  		margin: 0 10px;
  		background-color: #fff;
  		border-radius: 50%;
  		display: inline-block;
  		transition: 0.1s ease;
	}
	.active, .dot:hover {
 		height: 20px;
 		width: 20px;
 	}
 /*CLIENTS*/
	.client_logo {
		width: 100%;
		height: 100%;
		margin: 30px 80px;
	}
/*NEED A PROJECT*/
	.nproject {
		display: flex;
		flex-direction: column;
	}
	.title_project {
		margin: 30px auto;
	}
	.subtitle_project {
		margin-bottom: 20px;
		padding: 0 50px;
	}
	.form {
		display: flex;
		flex-direction: column;
		margin: 0 5px;
		width: auto;
		margin: 0 10px;
	}
	.prjname {
		display: flex;
		flex-direction: column;
	}
	.name_form {
		width: 250px;
		margin-bottom: 30px;
	}
	.email_form {
		width: 250px;
	}
	.title_form {
		width: 300px;
		height: 50px;
		margin-bottom: 30px;
		align-items: center;
	}
	.title_sform {
		display: flex;
		flex-direction: column;
		width: 380px;
		height: 50px;
		border: none;
	}
	.textarea_form {
		width: 380px;
		height: 100px;
		margin-bottom: 30px;
		border: none;
	}

}

@media (max-width: 375px) {

	/*BANNER===*/
	.banner{
		width: auto;
	}
	.banner__inner {
		width: auto;
		margin: 10px auto;
	}

	.banner__title {
		margin: 10px auto;
		font-size: 30px;
	}
	.banner__subtitle {
		font-size: 16px;
		padding: 0px;
	}

	/*ABOUT*/
	.about_inner {
		width: auto;
	}
	/*SKILLS*/
	.skills_progress {
		padding: 100px 60px;
	}
	/*NPROJECT*/
	.nproject {
		display: flex;
		flex-direction: column;
	}
	.title_sform {
		display: flex;
		flex-direction: column;
		width: 300px;
		height: 50px;
		border: none;
	}
	.textarea_form {
		width: 300px;
		height: 100px;
		margin-bottom: 30px;
		border: none;
	}
}
@media (max-width: 320px) {
	/*HEADER*/
	.header {
		height: auto;
	}
	.header__inner {
		flex-direction: column;
	}
	.logop {
	margin-left: 50px;
	}
	/*BANNER*/
	.banner__title {
		font-size: 24px;
	}
	.banner__subtitle {
		width: auto;
		font-size: 12px;
	}
	/*SKILLS*/
	.skills_progress {
		padding: 180px 40px;
	}
	/*NUMBER*/
	.numbers_items {
		margin-left: 10px;
	}
	.item {
	margin: 50px auto;
	}
	/*CLIENT*/
	.client_logo {
		width: auto;
		height: auto;
		margin: 30px 40px;
	}
	.link_footer {
		flex-direction: column;
	}
	.r_link_footer {
	padding-left: 0px;
	}
}